
@import url('https://fonts.googleapis.com/css2?family=Kristi&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-bg {
    background-image: url('https://www.barfithefoodmagician.co.in/sitepad-data/uploads/2024/05/home-header01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-bg {
    background-image: url('https://www.barfithefoodmagician.co.in/sitepad-data/uploads/2024/05/header01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-bg {
    background-image: url('https://www.barfithefoodmagician.co.in/sitepad-data/uploads/2024/05/header01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-bg::before {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 1;
}


.home-bg-fixed {
    background-image: url('https://www.barfithefoodmagician.co.in/sitepad-data/uploads/2024/05/amazing01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.about-bg-fixed {
    background-image: url('https://www.barfithefoodmagician.co.in/sitepad-data/uploads/2024/05/testimonialbg01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

