@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.contact-bg {
    background-image: url('https://www.barfithefoodmagician.co.in/sitepad-data/uploads/2024/05/header01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-bg::before {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 1;
}

.about-bg-fixed {
    background-image: url('https://www.barfithefoodmagician.co.in/sitepad-data/uploads/2024/05/testimonialbg01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

